body{
    background-color:  rgb(0, 128, 255);
}

p {
    color: yellow;
}

h1 {
    color: green;
    font-size: 60px;
}

#main-heading {
    background-color: lightpink;
}

#main-heading:hover {
    color: purple;
}

ul li:first-child {
    font-weight: bold;
    font-size: 40px;
}

h1::before {
    content: "★";
    color: blue;
}

h1.someClass{
    background-color: red;
}